@font-face {
    font-family: Byekan;
    src: url(../assets/fonts/Yekan.woff);
    font-style: normal;
    font-weight: 400;

}
@font-face {
    font-family: Byekan;
    src: url(../assets/fonts/Yekan.woff);
    font-style: normal;
    font-weight: 700;
}
