<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/fonts.css"/>
</head>
<body>
    <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
    <button class="btn btn--secondary-light">ثبت سفارش</button>
    <button class="btn btn--driver">ثبت نام راننده تاکسی آنلاین</button>
    <button class="btn btn--secondary-dark">ثبت سفارش</button>
</body>
</html>