<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/fonts.css"/>
</head>
<body>
   <div class="corporate">
        <div class="corporate__image">
            <img src="../assets/images/i-mac.webp" alt=""/>
        </div>
        <div class="corporate__detail">
            <div class="corporate__title">
                <h2>خدمات تپسی ویژه کسب‌وکارها</h2>
            </div>
            <div class="corporate__description">
                <p>
                پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست هم‌زمان تعداد نامحدودی خودرو و پیک را برای کسب‌وکار
                ها و سازمان‌ها فراهم می‌کند. و با استفاده از آن می‌توانید ماموریت های درون‌شهری و ارسال کالاهای خود را به سادگی مدیریت کنید.
                </p>
            </div>
            <div class="corporate__link">
                <a href="">اطلاعات بیشتر سرویس سازمانی</a>
                <i class="left-arrow-orange"></i>
            </div>
            <div class="corporate__butten">
                <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
            </div>
        </div>
   </div>
   <div class="corporate corporate--reverse">
    <div class="corporate__image">
        <img src="../assets/images/macbook.png" alt=""/>
    </div>
    <div class="corporate__detail">
        <div class="corporate__title">
            <h2>خرید کد اعتبار تپسی</h2>
        </div>
        <div class="corporate__description">
            <p>
                کد اعتبار تپسی امکان استفاده از تخفیف در سفر با تپسی به میزان اعتبار خریداری شده را برای کاربران، کسب و کارها و سازمان ها
                 فراهم می کند. تنها با صرف چند دقیقه می توانید این کد را تهیه کنید و آن را در اختیار کارکنان و مشتریانتان بگذارید.
            </p>
        </div>
        <div class="corporate__butten">
            <button class="btn btn--primary">خرید کد اعتبار و تخفیف</button>
        </div>
    </div>
</div>
</body>
</html>