<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/fonts.css"/>
</head>
<body>
    <header class="main-header container">
        <nav class="nav-header">
            <div class="logo">
                <a><img src="../assets/images/logo.svg" alt></a>
            </div>
            <div class="nav__toggel">menu</div>
            <ul class="nav__items">
                <li class="nav__item"><a>ویدئوها</a></li>
                <li class="nav__item"><a>پشتیبانی</a></li>
                <li class="nav__item"><a>امور سهام</a></li>
                <li class="nav__item"><a>تپسی پک</a></li>
                <li class="nav__item"><a>فرصت های شغلی</a></li>
                <li class="nav__item"><a>وبلاگ</a></li>
                <div class="download-app">
                    <a>دانلود تپسی</a>
                </div>
            </ul>
        </nav>
    </header>
</body>
</html>