<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/fonts.css"/>
</head>
<body>
   <div class="plan">
        <div class="card">
            <div class="card__header card__header--light">
                <div class="introduction">
                    <span>عادی</span>
                    <span class="badge badge__white">
                        10% Off
                    </span>
                </div>
                <div class="card__price"><span>190/000</span> تومان / ماهانه </div>
                <div class="card__title">سرویس ماشین های معمولی</div>
            </div>
            <div class="card__body">
                <Ul class="list list--tick">
                    <li class="list__item">کیفیت افتضاح</li>
                    <li class="list__item">چهار تا چرخ داره</li>
                    <li class="list__item">راننده بد اخلاق</li>
                    <li class="list__item">راننده بد اخلاق</li>
                </Ul>
                <button class="btn btn--secondary-light btn--block">ثبت سفارش</button>
            </div>
        </div>
        <div class="card popular__card">
            <div class="card__header card__header--dark">
                <div class="introduction">
                    <span>اقتصادی</span>
                    <span class="badge badge__colored">
                        10% Off
                    </span>
                </div>
                <div class="card__price"><span>290/000</span> تومان / ماهانه </div>
                <div class="card__title">سرویس ماشین های معمولی</div>
            </div>
            <div class="card__body">
                <Ul class="list list--tick">
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                </Ul>
                <button class="btn btn--secondary-dark btn--block">ثبت سفارش</button>
            </div>
    
        </div>
        <div class="card">
            <div class="card__header card__header--light">
                <div class="introduction">
                    <span>ویژه</span>
                    <span class="badge badge__white">
                        10% Off
                    </span>
                </div>
                <div class="card__price"><span>390/000</span> تومان / ماهانه </div>
                <div class="card__title">سرویس ماشین های مدل بالا</div>
            </div>
            <div class="card__body">
                <Ul class="list list--tick">
                    <li class="list__item">کیفیت عالی</li>
                    <li class="list__item">کم سر و صدا</li>
                    <li class="list__item">سرویس روزانه</li>
                    <li class="list__item">زمان محدود</li>
                </Ul>
                <button class="btn btn--secondary-light btn--block">ثبت سفارش</button>
            </div>
    
        </div>
   </div>
</body>
</html>